* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #f3f3f3;
	font-family: 'Montserrat', sans-serif;
}

.container {
	width: 80vw;
}

.header {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	font-weight: 500;
}

a {
	text-decoration: none;
	margin: 20px;
	font-size: 16px;
	color: black;
}

a:hover {
	color: #3dc9b3;
}

.menu-left,
.menu-right {
	text-transform: uppercase;
	align-content: space-between;
}
.menu-left {
	margin-left: 100px;
}

.menu-right {
	display: flex;
	flex-direction: row;
	margin-right: 20px;
	align-items: center;
	align-content: center;
	text-align: center;
}

.logo {
	margin: 10px;
}

.logoPct {
	width: 230px;
}

.icons {
	display: flex;
}
.icon {
	width: 30px;
}

.iconFlag {
	border: 1px solid;
}

.language {
	display: flex;
	align-items: center;
	justify-content: end;
}

.content {
	width: 100%;
}

.city-picture-container {
	height: 450px;
}
.city-picture {
	width: 100%;
	height: inherit;
}

.reservation-field {
	background-color: hsl(171, 56%, 51%);
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
}

button.reservation {
	padding: 0.563em 1.125em 0.813em;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 120%;
	border: none;
	color: #ffffff;
	background-color: #3dc9b3;
	border: 2px solid #fff;
	text-shadow: 0 0.075em 0.075em rgba(0, 0, 0, 0.5);
	border-radius: 0.25em;
}
/* vertical-align: middle;
height: 40px;
*/

button.reservation:hover,
.description a:hover {
	border-color: #3dc9b3;
	color: hsl(171, 56%, 51%);
	background-color: white;
}

.option {
	display: flex;
	height: 100%;
}

.option.hide {
	display: none;
}

.picture-apartments {
	width: 50%;
}

.description {
	display: block;
	flex-direction: column;
	width: 50%;
	background-color: white;
	padding: 30px 70px;
	font-size: 14px;
	color: #8c9398;
	text-align: justify;
	line-height: 1.7;
}

.description h2 {
	margin: 30px;
	text-align: center;
	color: #6e7579;
	font-weight: bold;
}

.description p {
	margin-bottom: 40px;
}
.description a {
	padding: 0.563em 1.125em 0.813em;
	cursor: pointer;
	font-size: 16px;
	border: none;
	color: #ffffff;
	background-color: #3dc9b3;
	border: 2px solid #fff;
	text-shadow: 0 0.075em 0.075em rgba(0, 0, 0, 0.5);
	border-radius: 0.25em;
}

.slidebar {
	position: relative;
}

.slide-picture {
	width: 100%;
}

.buttons-slidebar {
	display: flex;
	position: absolute;
	right: 18%;
	top: 90%;
}

.fa-circle {
	margin: 10px;
	color: #6e7579;
	cursor: pointer;
}

.fa-circle:hover {
	background-color: black;
	color: hsl(180, 3%, 7%);
	border-radius: 50%;
	border: none;
}

.fa-circle.active {
	background-color: hsl(171, 56%, 51%);
	color: hsl(171, 56%, 51%);
	border-radius: 50%;
}
.fa-chevron {
	position: absolute;	
	font-size: 10px;
	top: 60%;
	width: 70px;
	cursor: pointer;
}

.fa-chevron.right {
	border-radius: 50%;
	right: 1%;
	width: 40px;
	border: 1px solid black;
	font-size: 40px;
	color:black
}

.fa-chevron.left {
	left: 1%;
}

.fa-chevron:hover {
	background-color: rgb(66, 68, 69);
	box-shadow: none;
	
}
