* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: white;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Montserrat', sans-serif;
	background-color: #f3f3f3;
	line-height: 1.7;
	overflow: visible;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	color: #8c9398;
}

.container {
	width: 88%;
	max-width: 1200px;
}

.header {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	font-weight: 500;
}

a {
	text-decoration: none;
	margin: 20px;
	font-size: 16px;
	color: black;
}

a:hover {
	color: #3dc9b3;
}

.menu-left,
.menu-right {
	text-transform: uppercase;
	align-content: space-between;
}
.menu-left {
	margin-left: 100px;
}

.menu-right {
	display: flex;
	flex-direction: row;
	margin-right: 20px;
	align-items: center;
	align-content: center;
	text-align: center;
}

.logo {
	margin: 10px;
}

.logoPct {
	width: 230px;
}

.icons {
	display: flex;
}
.icon {
	width: 30px;
}

.iconFlag {
	border: 1px solid;
}

.language {
	display: flex;
	align-items: center;
	justify-content: end;
}

.content {
	width: 100%;
	background-color: #f3f3f3;
}

.city-picture-container {
	height: 450px;
}
.city-picture {
	width: 100%;
	height: inherit;
}

.reservation-field {
	background-color: hsl(171, 56%, 51%);
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
}

button.reservation {
	padding: 0.563em 1.125em 0.813em;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 120%;
	border: none;
	color: #ffffff;
	background-color: #3dc9b3;
	border: 2px solid #fff;
	text-shadow: 0 0.075em 0.075em rgba(0, 0, 0, 0.5);
	border-radius: 0.25em;
}

button.reservation:hover,
.description a:hover {
	border-color: #3dc9b3;
	color: hsl(171, 56%, 51%);
	background-color: white;
}

.option {
	display: flex;
	height: 100%;
}

.option.hide {
	display: none;
}

.picture-apartments {
	width: 50%;
}

.description {
	display: block;
	flex-direction: column;
	width: 50%;
	padding: 30px 70px;
	font-size: 14px;
	color: #8c9398;
	text-align: justify;
	line-height: 1.7;
}

.description h2 {
	margin: 30px;
	text-align: center;
	color: #586269;
	font-weight: bold;
	letter-spacing: 2px;
}

.description p {
	margin-bottom: 40px;
}
.description a {
	padding: 0.563em 1.125em 0.813em;
	cursor: pointer;
	font-size: 16px;
	border: none;
	color: #ffffff;
	background-color: #3dc9b3;
	border: 2px solid #fff;
	text-shadow: 0 0.075em 0.075em rgba(0, 0, 0, 0.5);
	border-radius: 0.25em;
}

.slidebar {
	position: relative;
}

.slide-picture {
	display: flex;
	width: 100%;
	height: 500px;
}

.buttons-slidebar {
	display: flex;
	position: absolute;
	right: 18%;
	top: 90%;
}

.fa-circle {
	margin: 10px;
	color: #6e7579;
	cursor: pointer;
}

.fa-circle:hover {
	background-color: black;
	color: hsl(180, 3%, 7%);
	border-radius: 50%;
	border: none;
}

.fa-circle.active {
	background-color: hsl(171, 56%, 51%);
	color: hsl(171, 56%, 51%);
	border-radius: 50%;
}
.fa-chevron {
	position: absolute;
	top: 40%;
	width: 60px;
	cursor: pointer;
	border-radius: 50%;
	background-color: transparent;
}

.fa-chevron.right {
	right: 1%;
}

.fa-chevron.left {
	left: 1%;
}

.fa-chevron:hover {
	background-color: #3dc9b3;
	border-radius: 50%;
	width: 65px;
}

/* Sekcja o nas*/

.about {
	display: block;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

.text {
	float: left;
	width: 50%;
	padding: 45px 65px 10px 65px;
}

.text h2 {
	text-align: center;
	color: #353535;
	letter-spacing: 2px;
	color: #6e7579;
	font-weight: bold;
}

.about-text {
	margin-top: 50px;
}
.text p {
	color: #586269;
	font-size: 14px;
	text-align: justify;
	margin: 0 0 1.313em;
}
.courtyard {
	float: left;
	width: 50%;
	height: 600px;
}

.obj {
	float: left;
	height: 299px;
	width: 299px;
}

.obj.p1 {
	background: url(apartaments/courtyard-1.jpg);
	background-size: cover;
}

.obj.p2 {
	background: url(apartaments/courtyard-2.jpg);
	background-size: cover;
}

.obj.p3 {
	background: url(apartaments/courtyard-3.jpg);
	background-size: cover;
}

.obj.p4 {
	background: url(apartaments/courtyard-4.jpg);
	background-size: cover;
}

.section5 {
	display: flex;
	background-color: #3dc9b3;
	border-color: rgba(255, 255, 255, 0.25);
	padding: 30px 0px 0px 0px;
}

.column {
	background-color: #3dc9b3;
	flex: 1 1 0px;
	text-align: center;
	border-right: 1px solid white;
	color: white;
	padding: 20px;
}

.column:last-child {
	border: none;
}

.column img {
	background-color: #3dc9b3;
	width: 55px;
	height: 60px;
	margin-bottom: 10px;
}

.text5 p {
	padding: 0 20px;
	font-size: 14px;
	background-color: #3dc9b3;
}

.section6 {
	margin: 0px;
	padding: 0px;
	min-height: 350px;
	background-position: 50% -20px;
	background-image: url(picture/Wawel-Castle-Krakow-Poland.jpg);
	background-color: transparent;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

.section7-form {
	margin: 0px;
	padding: 30px 20px 10px;
	background-color: hsl(0, 0%, 98%);
}

form {
	background-color: hsl(0, 0%, 98%);
}
.section7-form h2 {
	text-align: center;
	margin: 20px auto;
	font-size: 16px;
	font-weight: 300;
	color: #353535;
	letter-spacing: 2px;
	background-color: inherit;
}

.x-container {
	padding: 0px;
	align-content: center;
	text-align: center;
	width: 100%;
	background-color: hsl(0, 0%, 98%);
}

.field-control {
	display: inline-block;
	width: 30.1%;
	margin-right: 3%;
	background-color: hsl(0, 0%, 98%);
}

.field-control:last-child {
	margin-right: 0;
}

.field-control input {
	line-height: normal;
	padding: 0 0.65em;
	margin-bottom: 9px;
	background: #fff;
	width: 100%;
	border: 1px solid #c1c1c1;
	height: 50px;
	color: #5a5a5a;
	font-size: 15px;
	border-radius: 0px;
	box-shadow: none;
	transition: border linear 0.4s, box-shadow linear 0.4s;
	transition-property: border, box-shadow;
	transition-duration: 0.2s, 0.2s;
}

.field-control input:focus,
.field-control input:active {
	border-color: rgba(0, 0, 0, 0.3);
	outline: 0;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.2);
}
.field-control input::placeholder,
.field-control textarea::placeholder {
	color: #c5c5c5;
}

p.error-text {
	visibility: hidden;
}
.field-control:last-child {
	display: block;
	width: 100%;
}
.field-control textarea {
	background: #fff;
	border-radius: 0px;
	box-shadow: none;
	border: 1px solid #c1c1c1;
	padding: 25px 10px;
	color: #5a5a5a;
	font-size: 15px;
	display: inline-block;
	width: 100%;
	line-height: normal;
	margin: 0;
	outline: 0;
	overflow: auto;
	margin-bottom: 9px;
	vertical-align: top;
	height: auto;
}

.submitBtn {
	background-color: hsl(0, 0%, 98%);
}

.submit {
	background-color: #3dc9b3;
	color: #fff;
	outline: 0;
	border: none;
	text-shadow: none;
	text-transform: uppercase;
	font-size: 14px;
	padding: 12px 60px;
	margin: 0 auto;
	display: block;
	margin-top: 35px;
	border-radius: 0.25em;
	line-height: 1.4;
	transition: all 0.15s linear;
	cursor: pointer;
}

.submit:hover {
	background: transparent;
	color: #3dc9b3;
	border: 1px solid #3dc9b3;
}

.submit:active {
	transform: scale(1.2);
}

.section-8 {
	display: flex;
	flex-direction: row;
	margin: 0px;
	padding: 45px 0px;
	background-color: hsl(0, 0%, 39%);
}

.section-8-left {
	text-align: right;
	margin-right: 4%;
	width: 48%;
	background-color: hsl(0, 0%, 39%);
}
.x-img {
	background-color: hsl(0, 0%, 39%);
	max-width: 155px;
}

.section-8-right {
	color: #fff;
	font-size: 14px;
	font-weight: 300;
	padding-left: 10px;
	line-height: 32px;
	background-color: hsl(0, 0%, 39%);
}

.section-8-right p {
	background-color: hsl(0, 0%, 39%);
	margin: 0 0 1.313em;
}

.section-8-right b {
	background-color: hsl(0, 0%, 39%);
	font-size: 16px;
	font-weight: 700;
}

.section-8-right a {
	margin: 0;
	text-decoration: none;
	background-color: transparent;
	color: #fff;
}

.section-8-right a:hover {
	outline: 0;
	color: #3dc9b3;
}

