* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: white;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Montserrat', sans-serif;
	background-color: #f3f3f3;
	line-height: 1.7;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	color: #8c9398;
}

/* NAV BAR */
.nav-bar {
	display: flex;
	position: relative;
	width: 88%;
	max-width: 1200px;
}

a {
	text-decoration: none;
	margin: 20px;
	font-size: 16px;
	color: black;
}

a:hover {
	color: #3dc9b3;
}

/* adding fixed here because jump on widht when sticky is fixed*/
.header {
	display: flex;
	text-align: center;
	align-items: center;
	font-weight: 500;
	transition: all 0.5s ease;
	min-height: 147px;
	max-width: 1200px;
	position: fixed;
	top: 0;
	width: 88%;
}

/* The sticky class is added to the header with JS when it reaches its scroll position
z-index move it on slider */
.sticky {
	z-index: 9000;
	min-height: 80px;
	max-height: 180px;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .container {
	padding-top: 95px;
}

.header .menu-left,
.header .menu-right {
	display: flex;
	text-transform: uppercase;
	flex-wrap: wrap;
	width: 40%;
	align-items: center;
}

.header .menu-left {
	margin-left: 20px;
	justify-content: center;
}

.header .menu-right {
	margin-right: 20px;
	justify-content: flex-end;
}

.header .logo {
	z-index: 3;
	margin: 10px;
	width: 20%;
	text-align: center;
	justify-content: center;
}

.header .logo-picture {
	width: 200px;
	transition: width 0.7s;
}

.icons {
	display: flex;
}
.icon {
	width: 30px;
}

.iconFlag {
	border: 1px solid black;
}

.language {
	display: flex;
	align-items: center;
	justify-content: end;
}

.hamburger {
	display: none;
	width: 88%;
	max-width: 1200px;
	position: fixed;
	justify-content: space-between;
	flex-direction: column;
	z-index: 3;
	top: 0;
	transition: all 0.5s ease;
}

.hamburger .fa-bars {
	cursor: pointer;
	position: absolute;
	right: 20px;
	top: 20px;
	font-size: 30px;
}

.hamburger .fa-bars:hover {
	color: #353535;
}

.hamburger .mobilelogo {
	width: 100px;
	margin: 10px;
}

.hamburger .links {
	display: flex;
	margin: 0 10px;
}

.hamburger .hamburger-menu {
	display: none;
	flex-direction: column;
	margin: 0;
}

.hamburger .container2 {
	display: flex;
	justify-content: space-between;
}

.hamburger .icons a {
	padding: 0;
	margin: 0;
	margin-right: 10px;
}

@media screen and (max-width: 824px) {
	.header {
		display: none;
	}
	.hamburger {
		display: flex;
	}

	.section5 {
		align-items: center;
		flex-direction: column;
		border-right: hidden;
	}

	.section5 .column {
		width: auto;
		border-right: none;
		border-bottom: 1px solid white;
	}
}
/* END OF HEADER*/

/* START MAIN SECTION */
.container {
	width: 88%;
	max-width: 1200px;
	margin-top: 150px;
	transition: margin-top 0.5s;
}

@media screen and (max-width: 824px) {
	.container {
		margin-top: 70px;
	}
}
.content {
	width: 100%;
	background-color: #f3f3f3;
}

.section1 {
	height: 100%;
}

.section1 .city-picture {
	display: flex;
	width: 100%;
	height: 100%;
}

.section2 {
	background-color: hsl(171, 56%, 51%);
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	padding: 10px;
}

.section2 button.reservation {
	padding: 0.563em 1.125em 0.813em;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 120%;
	border: none;
	color: #ffffff;
	background-color: #3dc9b3;
	border: 1px solid #fff;
	text-shadow: 0 0.075em 0.075em rgba(0, 0, 0, 0.5);
	border-radius: 0.25em;
}

.section2 button.reservation:hover,
.item .description a:hover {
	border-color: #3dc9b3;
	color: hsl(171, 56%, 51%);
	background-color: white;
}

.modal {
	visibility: hidden;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9999;
	overflow: hidden;
	outline: 0;
	background-color: rgba(0, 0, 0, 0.6);
	transition: all 0.5s ease-in;
	transition-timing-function: cubic-bezier(0.42, 0, 1, 1);
	opacity: 0;
}

.active {
	opacity: 1;
	visibility: visible;
	display: block;
}

.modal-open .modal {
	overflow-x: hidden;
	overflow-y: auto;
}
.modal-dialog {
	width: 80% !important;
	position: relative;
	height: 80vh;
	margin: 30px auto;
}

.modal-content {
	position: relative;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	outline: 0;
	text-align: center !important;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.modal-header {
	display: flex;
	flex-direction: row-reverse;
	font-size: 14px;
	padding: 15px;
	border-bottom: 1px solid #e5e5e5;
	height: 60px;
}

.close {
	padding: 0;
	cursor: pointer;
	background-color: transparent;
	border: 0;
	float: right;
	font-size: 18px;
	font-weight: bold;
	color: #000;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
	opacity: 0.4;
	transition: opacity 0.3s ease;
}

.close:hover {
	color: #000;
	text-decoration: none;
	cursor: pointer;
	opacity: 0.6;
}
.modal-title {
	color: hsl(171, 56%, 51%);
	margin: auto;
	line-height: 1.42857143;
	letter-spacing: -0.035em;
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 171.4%;
}
.modal-body {
	position: relative;
	padding: 15px;
	background-color: hsl(171, 56%, 51%);
}

.iframe {
	height: 80vh;
	border: 0;
	width: 100%;
	max-width: 100%;
}

.modal-footer {
	text-align: center !important;
	padding: 15px;
	text-align: right;
	border-top: none;
	background-color: hsl(171, 56%, 51%);
}

.modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1040;
}

.section3 {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.slider {
	position: relative;
	display: flex;
	transition: 0.5s;
}
.slider .item {
	display: flex;
	flex: 1 0 100%;
	height: 100%;
}

.item .picture-apartments {
	width: 100%;
}

.item .picture-apartments .slide-picture {
	display: flex;
	width: 100%;
	height: 500px;
}

.item .description {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 30px 70px;
	font-size: 14px;
	color: #8c9398;
	text-align: justify;
	line-height: 1.7;
}

.item .description h2 {
	margin: 30px;
	text-align: center;
	color: #586269;
	font-weight: bold;
	letter-spacing: 2px;
}

.item .description p {
	margin-bottom: 40px;
}

.item .description a {
	padding: 10px;
	text-align: center;
	margin: auto;
	cursor: pointer;
	font-size: 16px;
	color: #ffffff;
	background-color: #3dc9b3;
	border: 2px solid #fff;
	text-shadow: 0 0.075em 0.075em rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	width: 200px;
}

@media screen and (max-width: 824px) {
	.slider .item {
		flex-direction: column;
		max-height: 100%;
	}
	
	
	.picture-apartments .slide-picture {
		width: 200px;
		height: 300px;
		object-fit: cover;
	}
}

/* .buttons-slidebar {
	display: flex;
	background: transparent;
	position: absolute;
	right: 18%;
	top: 90%;
}

.buttons-slidebar p {
	background: transparent;
}

.fa-circle {
	margin: 10px;
	background-color: transparent;
	color: #6e7579;
	cursor: pointer;
} */

/* .fa-circle:hover {
	background-color: black;
	color: hsl(180, 3%, 7%);
	border-radius: 50%;
	border: none;
}

.fa-circle.active {
	background-color: hsl(171, 56%, 51%);
	color: hsl(171, 56%, 51%);
	border-radius: 50%;
} */

.section3 .fa-chevron {
	position: absolute;
	top: 40%;
	width: 60px;
	cursor: pointer;
	border-radius: 50%;
	background-color: transparent;
}

.section3 .fa-chevron.right {
	right: 1%;
}

.section3 .fa-chevron.left {
	left: 1%;
}

.section3 .fa-chevron:hover {
	background-color: #3dc9b3;
	border-radius: 50%;
	width: 65px;
}

/* Section 4 - about us */

.section4 {
	display: flex;
	margin: 0px;
	padding: 0px;
	width: 100%;
	float: left;
	flex-wrap: wrap;
}

.section4 .text {
	width: 50%;
	padding: 45px 65px 10px 65px;
}

.text h2 {
	text-align: center;
	color: #353535;
	letter-spacing: 2px;
	color: #6e7579;
	font-weight: bold;
}

.text .about-text {
	margin-top: 50px;
}
.text p {
	color: #586269;
	font-size: 14px;
	text-align: justify;
	margin: 0 0 1.313em;
}

.section4 .courtyard {
	display: flex;
	flex-wrap: wrap;
	width: 50%;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.obj {
	display: flex;
	float: left;
}

.obj.p1 {
	background: url(apartaments/courtyard-1.jpg);
	background-size: cover;
}

.obj.p2 {
	background: url(apartaments/courtyard-2.jpg);
	background-size: cover;
}

.obj.p3 {
	background: url(apartaments/courtyard-3.jpg);
	background-size: cover;
}

.obj.p4 {
	background: url(apartaments/courtyard-4.jpg);
	background-size: cover;
}

@media screen and (max-width: 1280px) {
	.section4 .text,
	.section4 .courtyard {
		width: 100%;
	}
}

@media screen and (max-width: 824px) {
	.section4 .text {
		padding: 90px 35px 10px 35px;
	}
	.obj {
		margin-bottom: 5px;
	}
}

.section5 {
	display: flex;
	width: 100%;
	max-width: 1200px;
	background-color: #3dc9b3;
	border-color: rgba(255, 255, 255, 0.25);
	padding: 30px 0px 0px 0px;
	flex-wrap: wrap;
	overflow: hidden;
}

.column {
	background-color: #3dc9b3;
	width: 25%;
	text-align: center;
	border-right: 1px solid white;
	color: white;
	padding: 20px;
	float: left;
	animation: 1s ease-in-out both;
}

@keyframes scale {
	0%,
	20% {
		transform: scale(1.2);
	}
	40% {
		transform: scale(1);
	}
	60% {
		transform: scale(1.2);
	}
	80% {
		transform: scale(1);
	}
}
.column:hover,
.column:focus,
.column:active {
	animation-name: scale;
}
.column:last-child {
	border: none;
}

.column img {
	background-color: #3dc9b3;
	width: 55px;
	height: 60px;
	margin-bottom: 10px;
}

.text5 p {
	padding: 0 20px;
	font-size: 14px;
	background-color: #3dc9b3;
}

.section6 {
	margin: 0px;
	padding: 0px;
	min-height: 350px;
	background-position: 50% -20px;
	background-image: url(picture/Wawel-Castle-Krakow-Poland.jpg);
	background-color: transparent;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

@media screen and (max-width: 824px) {
	.section6 {
		background-attachment: local;
	}
}

.section7-form {
	margin: 0px;
	padding: 30px 20px 10px;
	background-color: hsl(0, 0%, 98%);
}

form {
	background-color: hsl(0, 0%, 98%);
}
.section7-form h2 {
	text-align: center;
	margin: 20px auto;
	font-size: 16px;
	font-weight: 300;
	color: #353535;
	letter-spacing: 2px;
	background-color: inherit;
}

.field-control {
	display: inline-block;
	width: 30.1%;
	margin-right: 3%;
	background-color: hsl(0, 0%, 98%);
}

.field-control:last-child {
	margin-right: 0;
}

.field-control input {
	line-height: normal;
	padding: 0 0.65em;
	margin-bottom: 9px;
	background: #fff;
	width: 100%;
	border: 1px solid #c1c1c1;
	height: 50px;
	color: #5a5a5a;
	font-size: 15px;
	border-radius: 0px;
	box-shadow: none;
	transition: border linear 0.4s, box-shadow linear 0.4s;
	transition-property: border, box-shadow;
	transition-duration: 0.2s, 0.2s;
	border-radius: 5px;
}

.field-control input.error {
	border: 1px solid red;
}

.field-control input:focus,
.field-control input:active {
	border-color: rgba(0, 0, 0, 0.3);
	outline: 0;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.2);
}
.field-control input::placeholder,
.field-control textarea::placeholder {
	color: #c5c5c5;
}

.field-control .check {
	visibility: hidden;
	background-color: hsl(0, 0%, 98%);
	text-align: left;
	font-size: 16px;
	color: red;
}

.field-control .check.error {
	visibility: visible;
}

.field-control.last {
	width: 100%;
}
.field-control textarea {
	display: inline-block;
	background: #fff;
	box-shadow: none;
	border: 1px solid #c1c1c1;
	border-radius: 5px;
	padding: 25px 10px;
	color: #5a5a5a;
	font-size: 15px;
	width: 100%;
	line-height: normal;
	margin: 0;
	outline: 0;
	overflow: auto;
	margin-bottom: 9px;
	vertical-align: top;
}

.submitBtn {
	background-color: #3dc9b3;
	color: #fff;
	outline: 0;
	border: none;
	text-shadow: none;
	text-transform: uppercase;
	font-size: 14px;
	padding: 12px 60px;
	margin: 50px auto;
	display: block;
	margin-top: 35px;
	border-radius: 0.25em;
	line-height: 1.4;
	transition: all 0.15s linear;
	cursor: pointer;
}

.submit:hover {
	background: transparent;
	color: #3dc9b3;
	border: 1px solid #3dc9b3;
}

.submit:active {
	transform: scale(1.2);
}

@media screen and (max-width: 824px) {
	.section7-form {
		display: flex;
		flex-direction: column;
		padding: 40px 20px 45px;
	}

	.field-control {
		display: inline-block;
		width: 100%;
	}

	.field-control .check {
		font-size: 12px;
	}
}

.section8 {
	display: flex;
	flex-direction: row;
	margin: 0px;
	padding: 45px 0px;
	background-color: hsl(0, 0%, 39%);
	justify-content: center;
	align-items: center;
	gap: 20px;
	transition: all 0.5s ease;
}

.section8-left {
	background-color: hsl(0, 0%, 39%);
}
.section8-left .x-img {
	background-color: hsl(0, 0%, 39%);
	max-width: 155px;
}

.section8-right {
	color: #fff;
	font-size: 14px;
	font-weight: 300;
	padding-left: 10px;
	line-height: 32px;
	background-color: hsl(0, 0%, 39%);
}

.section8-right p {
	background-color: hsl(0, 0%, 39%);
	margin: 0 0 1.313em;
	justify-items: left;
}

.section8-right b {
	background-color: hsl(0, 0%, 39%);
	font-size: 16px;
	font-weight: 700;
}

.section8-right a {
	margin: 0;
	text-decoration: none;
	background-color: transparent;
	color: #fff;
}

.section8-right a:hover {
	outline: 0;
	color: #3dc9b3;
}

@media screen and (max-width: 824px) {
	.section8 {
		flex-direction: column;
	}
}

.drive {
	display: flex;
	flex-direction: column;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

.drive h2 {
	margin: 20px auto;
	font-size: 16px;
	color: #353535;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.drive p {
	margin: 0 0 1.313em;
	font-style: normal;
	font-weight: 400;
	color: #767c81;
}

.map iframe {
	width: 100%;
	max-width: 100%;
}

footer {
	display: flex;
	font-size: 15px;
	text-align: center;
	color: #7a7a7a;
	justify-content: space-between;
	margin: 0 auto;
	width: 88%;
	background-color: #f3f3f3;
}

.copyright {
	font-size: 13px;
	color: #4a4a4a;
	background-color: #f3f3f3;
}

.author {
	display: flex;
	font-size: 13px;
	color: #4a4a4a;
	background-color: #f3f3f3;
}

.author p {
	background-color: #f3f3f3;
}
.name {
	font-weight: bold;
	margin-left: 5px;
	background-color: #f3f3f3;
}

@media screen and (max-width: 824px) {
	footer {
		flex-direction: column;
		align-items: center;
	}
}
